{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/material-kit.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block css %} {% endblock css %}
</head>
<body>

{% include '_navigationbar.html' with object=departament %}


{% block messages %}
{% endblock messages %}

{% block content %}
{% endblock content %}


</body>

<script src="{% static 'js/particles.js' %}"></script>
<!--   Core JS Files   -->
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}"></script>

<script src="{% static 'js/material-kit.js' %} " type="text/javascript"></script>

{% block javascript %}{% endblock javascript %}

<script>
    particlesJS.load('particles-js', '{% static 'js/particlesjs-config.json' %}', function () {
        console.log('callback - particles.js config loaded');
    });</script>
</html>

