{% load static i18n %}
<nav class="navbar navbar-info navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {# LOGO #}
            <a class="navbar-brand" href="http://www.tu-sliven.com/">ТУ-София ИПФ-Сливен</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ object.get_absolute_url }}" target="">
                        {% trans 'Home' %}
                    </a>
                </li>
                <li>
                    <a href="{{ object.get_structure_url }}" target="">
                        {% trans 'Structure' %}
                    </a>
                </li>
                {% if False %}
                    <li>
                        <a href="{{ object.get_laboratories_url }}" target="">
                            {% if object.is_teachers_department %} Лаборатории {% else %} Стая {% endif %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ object.get_history_url }}" target="">
                            {% trans 'News' %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ object.get_history_url }}" target="">
                            {% trans 'History' %}
                        </a>
                    </li>
                {% endif %}

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">account_circle</i>

                        {% trans 'Profile' %}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated and user.userprofile.profile %}
                            <li><a href="{{ user.userprofile.get_absolute_url }}">Към профила</a></li>
                            <li><a href="{{ user.userprofile.profile.get_edit_url }}">Редактиране на профила</a></li>
                            {% if user %}
                                {% if user.userprofile.profile.is_teacher %}
                                    <li>
                                        <a href="{{ user.userprofile.profile.get_publication_edit_url }}">{% trans 'Edit publications' %}</a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a href="{{ user.userprofile.profile.get_password_change_url }}">{% trans 'Change password' %}</a>
                                </li>
                                <li class="divider"></li>
                                {% if user.is_staff %}
                                    <li>
                                        <a href="{{ user.userprofile.get_departament.get_edit_url }}">{% trans 'Edit departament' %}</a>
                                    </li>
                                    {% if user.userprofile.profile.is_teacher %}
                                        <li><a href="{{ user.userprofile.profile.get_school_subject_edit_url }}">{% trans 'Edit Subjects' %}</a>
                                        </li>
                                    {% endif %}
                                    <li><a href="{{ user.userprofile.get_absolute_url }}">Редактиране на зали</a></li>
                                    <li class="divider"></li>
                                {% endif %}
                            {% endif %}
                            <li><a href="{% url 'logout' %}">{% trans 'Logout profile' %}</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:login' %}">{% trans 'Login profile' %}</a></li>
                        {% endif %}

                    </ul>

                </li>
            </ul>
        </div>
    </div>
</nav>