{% extends '__base.html' %}
{% load i18n widget_tweaks %}
{% block content %}

    <div class="wrapper">
        {% include '_edit_background.html' %}

        <div class="main main-raised">
            <div class="section landing-section">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                        <h2 class="text-center title">{% trans 'Edit profile' %}</h2>
                        <form id="img_change" action=".">
                            <div class="block-center">
                                <div class="col-sm-3">
                                    <img id="profile-picture" src="{{ object.image.url }}" alt="Raised Image"
                                         class="img-circle img-responsive img-raised center-block">
                                    <span class="btn btn-info btn-round fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span>{% trans 'Change Picture' %}</span>
                                            <input class="fileupload" type="file" name="attachment"
                                                   rel=".uf-{{ paragraph.id }}-{{ attachment_type }}"
                                                   data-url=""
                                                   data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}", "type": "{{ attachment_type }}"}'/>
                                        </span>
                                </div>
                            </div>
                        </form>

                        <form class="contact-form" method="POST" action=".">{% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form.email.label }}</label>
                                        {{ form.email|attr:'class:form-control' }}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form.phone_number.label }}</label>
                                        {{ form.phone_number|attr:'class:form-control' }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.description.label }}</label>
                                {{ form.description|attr:'class:form-control'|attr:'rows:4' }}
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 text-center">
                                    <input type="submit" class="btn btn-primary btn-raised btn-info" value="Запиши">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
        </footer>
    </div>

{% endblock content %}
