{% extends '__base.html' %}
{% load i18n %}
{% block content %}
    <div class="wrapper">
        {% include '_edit_background.html' %}

        <div class="main main-raised">
            <div class="section landing-section">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                        <h2 class="text-center title">{% trans 'Edit publications' %}</h2>

                        <form class="contact-form" method="POST" action="">
                            {% csrf_token %}
                            {{ formset.management_form }}
                            {% for form in formset %}
                                <div class="form">
                                    {{ form }}
                                </div>
                                <hr>
                            {% endfor %}
                            <input class="right" type="submit" value="Запиши">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">

        </footer>

    </div>
{% endblock content %}
