{% extends 'departments/structure/structure.html' %}

{% block fliping_cards %}
    <div class="">
        <div class="profile-tabs">
            <div class="nav-align-center">
                <ul class="nav nav-pills nav-pills-info" role="tablist">
                    <li>
                        <a href="#habilitated" role="tab" data-toggle="tab">
                            <i class="material-icons">group</i>
                            {{ left_group }}
                        </a>
                    </li>
                    <li class="active">
                        <a href="#leader" role="tab" data-toggle="tab">
                            <i class="material-icons">person</i>
                            Лидер
                        </a>
                    </li>
                    <li>
                        <a href="#nonhabilitated" role="tab" data-toggle="tab">
                            <i class="material-icons">group</i>
                            {{ right_group }}
                        </a>
                    </li>
                </ul>

                <div class="tab-content gallery">
                    <div class="tab-pane" id="habilitated">
                        <div class="row">
                            {% for x in left_group_participants %}
                                {% include 'departments/_rotating_card.html' with object=x %}
                            {% empty %}
                                <h4>{{ non_existing_message }}</h4>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane text-center active" id="leader">
                        <div class="row">
                            {% include 'departments/_rotating_card.html' with object=leader %}
                        </div>
                    </div>
                    <div class="tab-pane" id="nonhabilitated">
                        <div class="row">
                            {% for x in right_group_participants %}
                                {% include 'departments/_rotating_card.html' with object=x %}
                            {% empty %}
                                <h4>{{ non_existing_message }}</h4>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End Tabs -->
    </div>
{% endblock fliping_cards %}