{% extends '__base.html' %}

{% block content %}
    <body class="profile-page">


    <div class="wrapper">
        <div class="header">
            <div id="particles-js"></div>
        </div>

        <div class="main main-raised">
            <div class="profile-content">
                <div class="container">
                    <div class="row">
                        <div class="profile">
                            <div class="avatar">
                                <img src="{{ object.image.url }}" alt="Circle Image"
                                     class="img-circle img-responsive img-raised">
                            </div>
                            <div class="name">
                                <h3 class="title">{{ object.get_full_name }}</h3>
                                <h5>{{ title }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="description text-center">
                        <p>{{ object.description }}</p>
                    </div>

                    {% block info %}
                    {% endblock info %}


                    {% if False %}
                        {# Start Email #}
                        <div class="section landing-section">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <h2 class="text-center title">Напиши имейл</h2>
                                    <form class="contact-form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Твоето име</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Твоят имейл</label>
                                                    <input type="email" class="form-control">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group label-floating">
                                            <label class="control-label">Съобщение</label>
                                            <textarea class="form-control" rows="4"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4 text-center">
                                                <button class="btn btn-primary btn-raised btn-info">
                                                    Изпрати
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {# END EMAIl #}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
{% endblock content %}
