{% extends '__base.html' %}


{% block content %}
    <body class="profile-page">


    <div class="wrapper">
        <div class="header">
            <div id="particles-js"></div>
        </div>

        <div class="main">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form action="" method="post">{% csrf_token %}
                        {{ form.as_p }}

                        {% for foo in formset %}
                            {{ foo.as_p }}
                        {% endfor %}


                        <input type="submit" value="Update">
                    </form>
                </div>
            </div>
        </div>

    </div>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    </body>

{% endblock content %}