{% load staticfiles %}
<div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
    <div class="card-container manual-flip">
        <div class="card">
            <div class="front">
                <div class="cover">
                    <img src="{% static 'img/card-cover-default.jpeg' %}"/>
                </div>
                <div class="user">
                    <a href="{{ object.get_absolute_url }}"><img class="img-circle" src="{{ object.image.url }}"/></a>
                </div>
                <div class="content">
                    <div class="main">
                        <h3 class="name">{{ object.get_full_name }}</h3>
                        <p class="text-center">{{ object.get_title }}</p><br>
                        <a href="{{ object.get_absolute_url }}" class="btn btn-info">Към профила</a>
                    </div>
                    <div class="footer">
                        <button class="btn btn-simple" onclick="rotateCard(this)">
                            <i class="fa fa-mail-forward">ЗАВЪРТИ</i>
                        </button>
                    </div>
                </div>
            </div> <!-- end front panel -->
            <div class="back">
                <div style="padding: 10px;">
                    <h5 class="motto">{{ object.get_full_name }}</h5>
                </div>
                <div class="content">
                    <div class="main text-left">
                        <br>
                        {% if object.get_cabinet %}
                            <p><strong>Кабинет: </strong>{{ object.get_cabinet }}</p><br>
                        {% endif %}
                        <p><strong>Телефон: </strong>{{ object.phone_number }}</p><br>
                        <p><strong>Имейл: </strong>{{ object.email }}</p><br>
                    </div>
                </div>
                <div class="footer">
                    <button class="btn btn-simple" onclick="rotateCard(this)">
                        <i class="fa fa-reply"></i> НАЗАД
                    </button>
                </div>
            </div> <!-- end back panel -->
        </div> <!-- end card -->

    </div><!--  end of the row -->
</div>