{% extends '__base.html' %}
{% block content %}

    <div class="landing-page">
        <div class="wrapper">
            <div class="header header-filter"
                 style="background-image: url('{{ object.cover_image.url }}');">
                <div class="container">

                </div>
            </div>

            <div class="main main-raised">
                <div class="container">
                    <div class="section text-center section-landing">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2 class="title">{{ object.title }}</h2>
                                <h5 class="description">{{ object.content }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">

            </footer>

        </div>
    </div>
{% endblock content %}
