{% load staticfiles widget_tweaks i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TU Login </title>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>

    <!-- CSS Files -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/material-kit.css' %}" rel="stylesheet"/>
</head>

<body>
<div class="signup-page">
    <div class="wrapper">
        <div class="header header-filter"
             style="background-image: url('{% static 'img/login-background.JPG' %}'); background-size: cover; background-position: top center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                            <form class="form" method="post" action="">{% csrf_token %}
                                <div class="header header-info text-center">
                                    <h4>Вход в системата</h4>
                                </div>
                                {% if next %}
                                    {% if user.is_authenticated %}
                                        <p class="text-divider"> Профилът ви няма правомощия за тази страница. </p>
                                    {% else %}
                                        <p class="text-divider"> Трябва да влезите за да достъпиде таззи
                                            страница. </p>
                                    {% endif %}
                                {% endif %}

                                {% if form.non_field_errors %}
                                    <p class="text-divider text-danger">{{ form.non_field_errors.as_text }}</p>
                                {% endif %}

                                <div class="content">
                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                                        {{ form.username|attr:'class:form-control'|attr:'placeholder:Потрибителско име...' }}
                                    </div>

                                    <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                                        {{ form.password|attr:'class:form-control'|attr:'placeholder:Парола...' }}
                                    </div>

                                </div>
                                <div class="footer text-center">
                                    <input type="submit" class="btn btn-simple btn-info btn-lg" value="Вход">
                                </div>
                                <input type="hidden" name="next" value="{{ next }}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script src="{% static 'js/particles.js' %}"></script>
<!--   Core JS Files   -->
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/material.min.js' %}"></script>

<script src="{% static 'js/material-kit.js' %} " type="text/javascript"></script>
