{% extends '__base.html' %}
{% load static widget_tweaks i18n %}
{% block title %} Смяна на паролата {% endblock title %}

{% block content %}
    <div class="signup-page">
        <div class="wrapper">
            <div class="header header-filter"
                 style="background-image: url('{% static 'img/login-background.JPG' %}'); background-size: cover; background-position: top center;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                            <div class="card card-signup">
                                <form class="form" method="post" action="">{% csrf_token %}
                                    <div class="header header-info text-center">
                                        <h4>Смяна на парола</h4>
                                    </div>

                                    {% if form.non_field_errors %}
                                        <p class="text-divider text-danger">{{ form.non_field_errors.as_text }}</p>
                                    {% endif %}

                                    <div class="content">

                                        <div class="col-xs-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{ form.new_password1.label }}</label>
                                                {{ form.new_password1|attr:'class:form-control' }}
                                            </div>
                                        </div>

                                        {% if form.new_password1.errors %}
                                            <p class="text-divider text-danger">{{ form.new_password1.errors.as_text }}</p>
                                        {% endif %}

                                        <div class="col-xs-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{ form.new_password2.label }}</label>
                                                {{ form.new_password2|attr:'class:form-control' }}
                                            </div>
                                        </div>
                                        {% if form.new_password2.errors %}
                                            <p class="text-divider text-danger">{{ form.new_password2.errors.as_text }}</p>
                                        {% endif %}

                                        <div class="col-xs-offset-1">
                                            <div class="form-group label-floating">
                                                <label class="control-label">{{ form.old_password.label }}</label>
                                                {{ form.old_password|attr:'class:form-control' }}
                                            </div>
                                        </div>

                                        {% if form.old_password.errors %}
                                            <p class="text-divider text-danger">{{ form.old_password.errors.as_text }}</p>
                                        {% endif %}

                                    </div>
                                    <div class="footer text-center">
                                        <a class="btn btn-simple btn-danger btn-lg"
                                           href="{{ object.get_absolute_url }}">Отказ</a>
                                        <input type="submit" class="btn btn-simple btn-success btn-lg" value="Смяна">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}