{% extends 'profiles/profile_detail.html' %}
{% load i18n %}

{% block info %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="profile-tabs">
                <div class="nav-align-center">

                    <ul class="nav nav-pills nav-pills-info" role="tablist">
                        <li class="active">
                            <a href="#studio" role="tab" data-toggle="tab">
                                <i class="material-icons">school</i>
                                {% trans 'Subjects' %}
                            </a>
                        </li>
                        <li>
                            <a href="#work" role="tab" data-toggle="tab">
                                <i class="material-icons">book</i>
                                {% trans 'Publications' %}
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div class="tab-pane active" id="studio">
                            {% for subject in subjects %}
                                <div class="row">
                                    <a class="dropdown-header" role="button" data-toggle="collapse"
                                       href="#collapseExample-{{ subject.id }}" aria-expanded="false"
                                       aria-controls="collapseExample-{{ subject.id }}">
                                        <h4>{{ subject.title }}</h4>
                                    </a>

                                    <div class="collapse" id="collapseExample-{{ subject.id }}">
                                        <div class="">{{ subject.description }}</div>
                                    </div>
                                </div>
                                <hr>
                            {% empty %}
                                <h4>Не са добавени часове водени от {{ object.get_full_name }}</h4>
                            {% endfor %}
                        </div>

                        <div class="tab-pane text-center" id="work">
                            {% for publication in publications %}
                                <div class="row">
                                    <p><strong>Автор/и: </strong>{{ publication.publishers }}</p>
                                    <p><strong>Списание: </strong>{{ publication.journal }}</p>
                                    <p><strong>Заглавие: </strong>{{ publication.title }}</p>
                                    <p><strong>Година на
                                        издаване: </strong>{{ publication.publication_year }}</p>
                                </div>
                                <hr>
                            {% empty %}
                                <h4> {% trans 'There are no added publications from theteacher untill now.' %} </h4>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Profile Tabs -->
        </div>
    </div>
{% endblock info %}