{% extends '__base.html' %}
{% load i18n widget_tweaks %}
{% block content %}

    <div class="wrapper">
        {% include '_edit_background.html' %}
        <div class="main main-raised">
            <div class="container">
                <div class="section section-landing">
                    <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                        <h2 class="text-center title">{% trans 'Edit school subjects' %}</h2>
                        {% block data %}
                        {% endblock data %}
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
        </footer>

    </div>

{% endblock content %}
