{% extends '__base.html' %}
{% load widget_tweaks %}
{% block content %}

    <div class="wrapper">
        {% include '_edit_background.html' %}

        <div class="main main-raised">
            <div class="container">
                <div class="section section-landing">
                    <div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Редактиране на катедрата</h2>
                        <form class="contact-form" method="POST" action=".">{% csrf_token %}

                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.content.label }}</label>
                                {{ form.content|attr:'class:form-control'|attr:'rows:10' }}
                            </div>

                            <div class="form-group label-floating">
                                <label class="control-label">{{ form.struct_info.label }}</label>
                                {{ form.struct_info|attr:'class:form-control'|attr:'rows:10' }}
                            </div>

                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4 text-center">
                                    <input type="submit" class="btn btn-primary btn-raised btn-info" value="Запиши">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer">
        </footer>

    </div>
{% endblock content %}
