{% extends 'departments/edits/_school_subjects_edit.html' %}

{% load static i18n pagin_row_calc %}
{% block data %}

    <table class="table">
        <thead>
        <tr>
            <th class="text-center">#</th>
            <th>{% trans 'Subject name' %}</th>
            <th class="text-right">{% trans 'Actions' %}</th>
        </tr>
        </thead>
        <tbody>
        <form action="" method="POST">

            {% for school_subject in page_obj.object_list %}{% csrf_token %}
                <tr>
                    <td class="text-center">{% pagin_row_calc page_obj.number paginator.per_page forloop.counter %}</td>
                    <td>{{ school_subject.title }}</td>
                    <td class="td-actions text-right">
                        <a href="{% url 'departament:school_subjects_edit' user.userprofile.get_departament.slug school_subject.pk %}"
                           rel="tooltip"
                           title="{% trans 'Change' %}" class="btn btn-success btn-simple btn-xs">
                            <i class="fa fa-edit"></i>
                        </a>

                        <button name='school_subject' value="{{ school_subject.pk }}" type="submit" rel="tooltip"
                                title="{% trans 'Remove' %}" class="btn btn-danger btn-simple btn-xs">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </form>
        </tbody>
    </table>


    {% if page_obj.count > 1 %}
        <ul class="pagination pagination-info">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}"><</a></li>
            {% endif %}

            {% for page_num in page_obj.paginator.page_range %}
                <li {% if page_num|stringformat:'d' == request.GET.page|default:'1' %}class="active" {% endif %}><a
                        href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">></a></li>
            {% endif %}
        </ul>
    {% endif %}


    <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>

{% endblock data %}