{% extends 'departments/edits/_school_subjects_edit.html' %}
{% load widget_tweaks i18n %}

{% block data %}
    <div class="row">
        <form action="." method="POST">{% csrf_token %}
            <input type="hidden" name="departament" value="{{ departament.pk }}">
            <div class="col-xs-12">
                <div class="form-group label-floating">
                    <label class="control-label">{{ form.title.label }}</label>
                    {{ form.title|attr:'class:form-control' }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group label-floating">
                    <label class="control-label">{{ form.description.label }}</label>
                    {{ form.description|attr:'class:form-control' }}
                </div>
            </div>

            {{ form.teachers }}
            {{ form.teachers.help_text }}
            <button class="btn btn-info">{% trans Save %}</button>
        </form>
    </div>

{% endblock data %}