.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileupload {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* Make IE8 button invisible...*/
    border: 1px solid red;
    font-size: 200px; /* Make IE8 Browse button really large*/
}