@font-face {
    font-family: new;
    src: url("profile/Fontin-Bold.otf") format("opentype");
}

@keyframes sene3 {
    from {
        opacity: 0;
        left: 50%
    }
    to {
        opacity: 0.7;
        left: 20%
    }
}

@keyframes sene2 {
    from {
        opacity: 0;
        left: 10%;
    }
    to {
        opacity: 0.8;
        left: 40%;
    }
}

@keyframes sene1 {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

body {
    background-color: #dddddd;
}

.jumbotron {
    background-color: inherit;
}


#row1 > #top-img-1 {
    margin: 5% 0% 5% 5%;
    width: 50%;
    box-shadow: 2px 2px 20px black;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    opacity: 0;
    animation-name: sene1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#row1 > #top-img-2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 40%;
    box-shadow: 2px 2px 10px black;
    z-index: -1;
    opacity: 0;
    animation-name: sene2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#row1 > #top-img-3 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    top: 60%;
    left: 20%;
    width: 40%;
    box-shadow: 2px 2px 10px black;
    z-index: -2;
    opacity: 0;
    animation-name: sene3;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

}

#row2 > #top-img-1 {
    margin: 5%  5% 5%;
    width: 50%;
    box-shadow: 2px 2px 20px black;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -o-transition: background 1s;
    transition: background 1s;
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#row2 > #top-img-2 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    top: 40%;
    left: 40%;
    width: 40%;
    box-shadow: 2px 2px 10px black;
    z-index: -1;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

#row2 > #top-img-3 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    top: 60%;
    left: 20%;
    width: 40%;
    box-shadow: 2px 2px 10px black;
    z-index: -2;
    opacity: 0;
    animation-name: sene3;
    animation-duration: 2s;
    animation-timing-function: ease-out;

}